{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ page.text }}
        </div>
    </div>

    {% include('default/stylesheets.html.twig') %}
{% endblock %}

